@import url(Produtos.css);
@import url(ProdutoEspecifico.css);
@import url(Header.css);
@import url(CardEbook.css);
@import url(App.css);
@import url(ButtonNeon.css);
@import url(ButtonOutlined.css);
@import url(CardNeon.css);
@import url(CardBonus.css);
@import url(Garantia.css);
@import url(Faq.css);
@import url(CapitulosAndPrevia.css);
@import url(Aprendizados.css);
@import url(Capitulos.css);
@import url(Depoimento.css);
@import url(tag-gravidez-radiante.css);
@import url(BeneficiosBonus.css);
@import url(Scrollbar.css);
@import url(HeadlineBonus.css);
@import url(NotFound.css);
@import url(SearchAnimation.css);
@import url(Page404.css);
@import url(LupaLoading.css);
@import url(Animacoes.css);
@import url(TelaVideo.css);
@import url(Contato__link.css);
@import url(Footer.css);

@tailwind base;
@tailwind utilities;

.Introducao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Button__bottom--whatsapp {
  position: absolute;
  bottom: 92px;
  right: 12px;
}

.exibir-somente-mobile { display: none; }

@media only screen and (max-width: 680px) {
  .exibir-somente-mobile { display: block; }
}

.CardBeneficios__button {
  padding: 1rem;
  height: 130px;
}


.Introducao img:not(:first-child){
  margin: 1.25rem auto;
}

.Introducao img:first-child {
  width: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

